body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}
form {
    width: 400px;
    height: 140px;
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.delete-icon {
    margin-bottom: 20px;
}
#lblConfirmDelete {
    margin-top:20px;
    font-size: 20px;
}
.btn-cont {
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#btnYes, #btnNo{
    font-size: 16px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e18c21;
    color: white;
    transition: border 2s ease;
    padding: 8px;
}

#btnYes:hover, #btnNo:hover{
    border: 1px solid black;
}